# Python virtual environment
Lib/
Scripts/
share/
etc/
pyvenv.cfg
include/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
frontend/node_modules/

# Build files
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db